 <%= simple_form_for @audit do |f| %>
    <span class="card-title"><%= controller.action_name.capitalize %> Audit</span>
        
        <div class="col s6">
          <%= f.input :name, wrapper_html: { class: 'col s6' } %>
          <%= f.input :audit_type, collection: ["Building", "Event"], wrapper_html: { class: 'col s6' } %>

          <%= f.input :user_id, as: :hidden, input_html: { value: params[:user_id]} %>
        </div>

        <div class="col s6">
          
          <%= f.input :client_id, collection: Client.active.to_a %>
        </div>

      
        
        <div class = "center">
            <%= link_to 'Back', audits_path, class: :"btn waves-effect waves-light #ffcdd2 red lighten-4" %>
              
            <%= f.submit nil, class: :"btn waves-effect waves-light" %>
          </div>
    <% end %>   