<div class ="center-align">
    <h4> Manage Audits </h4>
</div>


     <div class="container">
      <div class="section">

        <div class="left-align">
        <div class="col s4">


        <% @clients.each do |client| %>
        <!-- Dropdown Trigger Cleint List-->
          <a class='dropdown-button btn' href='#' data-activates='dropdown1'>Audits</a>

          <!-- Dropdown Structure -->
          <ul id='dropdown1' class='dropdown-content'>
            <li><a href="#!"><%= client.name %></a></li>
          </ul>
        <% end %>

        </div>
      </div>




      <div class="row">
            <div class="center-align">
              
      <% unless @audits.nil? %>
        <table class="striped centered">
              <thead>
                <tr>
                    <th>Audit Name</th>
                    <th>Start Date</th>
                    <th>Status</th>
                    <th>Client</th>
                </tr>
              </thead>

              <tbody>
                <% @audits.each do |audit| %>
                <tr>
                  <td><%= audit.name %></td>
                  <td><%= audit.end_date %></td>
                  <td><%= audit.active %></td>
                  <td><%= audit.client.name %></td>
                </tr>
                <% end %>
              </tbody>
            </table>
          </div>
    </div>
    </div>

    <div class="container">
    <div class="row">
      <a class="wave-effect waves-light btn"> Create Event Audit</a>
      <a class="wave-effect waves-light btn"> Create Building AUdit</a>
    </div>
    </div>
  </div>