<h1>Listing audits</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Start date</th>
      <th>End date</th>
      <th>Active</th>
      <th>References</th>
      <th>References</th>
      <th>References</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @audits.each do |audit| %>
      <tr>
        <td><%= audit.name %></td>
        <td><%= audit.type %></td>
        <td><%= audit.start_date %></td>
        <td><%= audit.end_date %></td>
        <td><%= audit.active %></td>
        <td><%= audit.references %></td>
        <td><%= audit.references %></td>
        <td><%= audit.references %></td>
        <td><%= link_to 'Show', audit %></td>
        <td><%= link_to 'Edit', edit_audit_path(audit) %></td>
        <td><%= link_to 'Destroy', audit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Audit', new_audit_path %>
