<div class = "row"> 
  <div class="card">
    <div class="card-image waves-effect waves-block waves-light">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">Welcome back!<i class="material-icons right">more_vert</i></span>
      <p><%= link_to 'Manage Users', users_path %></p>
      <p><%= link_to 'Manage Clients', clients_path %></p>
    </div>
  </div>
</div>

<div class="row">
  <div class="center-align">
           
    <hr>
    <div class="row">  
        <div class ="center-align">
        <h5> Manage Audits </h5>
    </div> 
    <% unless @audits.nil? %>
        <table class="striped centered" id = "dashboard">
            <thead>
                <tr>
                    <th>Audit Name</th>
                    <th>Start Date</th>
                    <th>Status</th>
                    <th>Client</th>
                </tr>
            </thead>

            <tbody>
                <% @audits.each do |audit| %>
                <tr>
                  <td><%= audit.name %></td>
                  <td><%= audit.end_date %></td>
                  <td><%= audit.active %></td>
                  <td><%= audit.client.name %></td>
                </tr>
                <% end %>
              </tbody>
            </table>
            <% end %>
          </div>
      </div>
    </div>
    

   
    <div class="row center">
      <a class="btn waves-effect waves-light  teal lighten-4"> Create Event Audit</a>
      
      <a class="btn waves-effect waves-light  teal lighten-4"> Create Building AUdit</a>
    </div>
  </div>
