<p id="notice"><%= notice %></p>

<div class="row">
    <!-- top button row -->
    <div class="col s12">
        <h4><%= @audit.name %></h4>
        <p>
          Start date: <%= @audit.start_date.strftime("%B %d, %Y") %>,
          Type: <%= @audit.audit_type %>
        </p>
    </div>
</div>



<div class="row center">
    <!-- top button row -->
    <div class="col s4">
          <%= link_to 'Record data', new_area_path(audit: @audit.id), class: :"btn waves-effect waves-light" %>
    </div>

    <div class="col s4">
        <a class="waves-effect waves-light btn"><i class="material-icons left">&nbsp;assessment</i>Analysis&nbsp;</a>
    </div>
    
    <div class="col s4">
        <a class="waves-effect waves-light btn"><i class="material-icons left">assignment_turned_in </i>Generate report</a>   
    </div>   
</div>

<div class="row">
      <!-- top button row -->
      <div class="col s12">

      </div>
</div>

<div class="row">
    <div class="col s6">
        <div class="card-panel">
            <table>
                <thead>
                    <tr>
                        <th>Steps</th>
                        <th>Status</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                      <% if @audit.questionnaire_id.nil? %>
                        <td><%= link_to 'Questionnaire', new_questionnaire_path(audit: @audit.id) %></td>
                      <% else %>
                        <td><%= link_to 'Questionnaire', edit_questionnaire_path(@audit.questionnaire_id, audit: @audit.id) %> </td>
                      <% end %>
                      <td> <%= @questionnaire_status %>%</td>
                    </tr>
                    <% for a in @areas %>
                      <tr>
                        <% if a.status = "in progress" %>
                        <td><%= link_to a.name, new_waste_info_path(area: a.id) %></td>
                        <% else %>
                        <td><%= a.name %></td>
                        <% end%>
                        <td><%= a.status %></td>
                      </tr>
                    <% end%>
                </tbody>
            </table>
        </div>
    </div>

    <div class="col s6">
        <div class="card-panel center">
            <span class="card-title"><h6>Raw Data</h6></span>
            <span >
                <ul class="collection">
                  <li class="collection-item"><b><%= link_to "all", areas_path(audit: @audit.id)  %></b></li>
                  <% for a in @areas %>
                  <li class="collection-item"><%= link_to a.name, area_path(a.id, audit: @audit.id) %></li>
                  <% end %>
                </ul>
            </span>
        </div>
    </div>

    <div class="col s6">
        <div class="card-panel center">
            <span class="card-title"><h6>Documents</h6></span>
            <span >
                <div class="collection">
                    <a href="#!" class="collection-item">Proposal.pdf</a>
                    <a href="#!" class="collection-item">email</a>
                    <a href="#!" class="collection-item">Company info</a>
                </div>
            </span>
        </div>
    </div>

    <div class="col s6">
        <div class="card-panel center">
          <span class="card-title"><h6>Quick graphs</h6></span>
            <p>Diversion Rate: ***%</p>
        </div>
    </div>

    <div class="col s6">
        <div class="card-panel center">
          <span class="card-title"><h6>Photos</h6></span>
          <span class="white-text">
            <div class="carousel"> 
              <a class="carousel-item" href="#two!"><img src="https://www.pinnacleenergyconsulting.com/wp-content/uploads/2013/02/energy-audit-energy-savings-pinnacle-energy-services.jpg"></a>
              <a class="carousel-item" href="#one!"><img src="https://cleantechnica.com/files/2013/10/Screen-shot-2013-10-28-at-4.14.19-PM.png"></a>
              <a class="carousel-item" href="#three!"><img src="https://d25hwkr75zzfa.cloudfront.net/store/photo/medium_golden/building_119_s320170712-4-1b5339w20170712-4-19pmjxm20170712-4-3mkdk8_92fae8a399f3e38dd7d6ba871aec08b7.jpg"></a>
            </div>
          </span>
        </div>
    </div>

</div>

<%= link_to 'Back', audits_path %>
