<div class="row valign-wrapper">
    <div class="col s12 valign">
        <div class="card white">
            <div class="card-content">
                <%= simple_form_for @user do |f| %>             
                        <span class="card-title"><%= controller.action_name.capitalize %> User</span>
                        <%= hidden_field_tag :authenticity_token, form_authenticity_token %><br>
                        <%= render :partial => "partials/error", locals: {f: f} %><br>
                        
                        <%= f.input :first_name , wrapper_html: { class: 'col s6' }%>
                        <%= f.input :last_name , wrapper_html: { class: 'col s6' }%>
                        <%= f.input :email %>
                        <%= f.input :password %>
                        <%= f.input :password_confirmation %>
                        <%= f.input :role, collection: [['Administrator','administrator']] %>
                        <br><br>

                        <div class="row">
                            <%= f.submit "Submit", class: :"btn waves-effect waves-light  teal lighten-4 right" %>
                            <%= link_to 'Cancel', users_path, class: :"btn waves-effect waves-light #ffcdd2 red lighten-4 left" %>
                        </div>
                <% end %>
            </div>
        </div>
    </div>
</div>
<br>

