

<%= simple_form_for @user do |f| %>        
 
      <legend><%= controller.action_name.capitalize %> Item</legend>
      <%= f.input :first_name %>
        <%= f.input :last_name %>
        <%= f.input :email %>
        <%= f.input :password %>
        <%= f.input :password_confirmation %>

<div class = "input-field select">
        <%= f.input :role, collection: [['Administrator','administrator']] %>
 </div>
      


     
<br>
        <br>
        <%= f.submit nil, class: 'button', class: :"waves-effect waves-light btn" %>
        <%= link_to 'Cancel', users_path, :class => 'button secondary', class: :"waves-effect waves-light btn" %>
        <%= link_to 'Back', users_path, class: :"waves-effect waves-light btn" %>

  <% end %>
  <br>


