<h4> Create User <h4>

<div class="container">
    <div class="left-align">
        <div class="row">
            <div class="col s6">
                <div class="row">
                    <%= simple_form_for @client do |f| %>
                    
                        <br>
                        <div class="col s6">
                            <%= f.input :first_name, wrapper_html: { class: 'col s12' } %>
                            <%= f.input :last_name, wrapper_html: { class: 'col s12' } %>
                            <%= f.input :email, wrapper_html: { class: 'col s12' } %>
                          <%= f.input :email, wrapper_html: { class: 'col s12' } %>
                          <%= f.input :password_digest, wrapper_html: { class: 'col s12' } %>
                          <%= f.input :email, wrapper_html: { class: 'col s12' } %>
                          <div class="input-field col s12">
                            <%= f.select :role, options_for_select(Users.roles), :include_blank => "Select your Role" %>
                          </div>
                        </div>

                            
                        <div class="col s12">
                            <div class="btn waves-effect waves-light"> Back</a>
                            <div class="btn waves-effect waves-light" >
                              <%= f.submit "Submit" %>
                         </div>
                        </div>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>
