<p id="notice"><%= notice %></p>

<div class="col s12 m6 l4">
    <div id="profile-card" class="card">
        <div class="card-image waves-effect waves-block waves-light"></div>
        <div class="card-content">
            <img src="https://i1.wp.com/www.winhelponline.com/blog/wp-content/uploads/2017/12/user.png?fit=256%2C256&quality=100" alt="" class="circle responsive-img right">

            <span class="card-title grey-text text-darken-4"><%= @user.proper_name %></span>
            <p><i class="cyan-text text-darken-2"></i> <%= @user.role %></p>
            <p><i class="cyan-text text-darken-2"></i> +1 (612) 222 8989</p>
            <p><i class="yan-text text-darken-2"></i> <%= @user.email %></p>

        </div>
    </div>
</div>

<%= link_to 'Edit', edit_user_path(@user), class: :"btn-flat small waves-effect waves-light teal lighten-4" %> 
<%= link_to 'Back', users_path, class: :"btn-flat small waves-effect waves-light teal lighten-4" %>



