<div class="row">
    <div class="col s12">
        <ul class="tabs">
            <li class="tab col s2"><a href="#c1" class="teal-text text-darken-2">Landfill</a></li>
            <li class="tab col s2"><a href="#c2" class="teal-text text-darken-2">Recycle</a></li>
            <li class="tab col s2"><a href="#c3" class="teal-text text-darken-2">Compost</a></li>
            <li class="tab col s2"><a href="#c4" class="teal-text text-darken-2">Reuse</a></li>
            <li class="tab col s2"><a href="#c5" class="teal-text text-darken-2">Food Recovery</a></li>
        </ul>
    </div>
</div>

<div class="row">
    <div id="c1" class="col s12">
        <table id = "landfill" class="display">
          <thead>
            <tr>
                <th>Category</th>
                <th>Weight</th>
                <th>Notes</th>
                <th>Anomaly</th>
                <th>True Category</th>
            </tr>
          </thead>

          <tbody>
            <% @areas.each do |area| %>
                <% area.waste_infos.waste_category('landfill').each do |waste| %>
                    <tr>
                        <td><%= waste.category %></td>
                        <td><%= waste.name %></td>
                        <td><%= waste.notes %></td>
                        <td><%= waste.anomaly %></td>
                        <td><%= waste.true_category %></td>
                    </tr>
                <% end %>
            <% end %>
          </tbody>
        </table>
    </div>
    <div id="c2" class="col s12">
        <table id = "recycle" class="display">
          <thead>
            <tr>
                <th>Category</th>
                <th>Weight</th>
                <th>Notes</th>
                <th>Anomaly</th>
                <th>True Category</th>
            </tr>
          </thead>

          <tbody>
            <% @areas.each do |area| %>
                <% area.waste_infos.waste_category('recycle').each do |waste| %>
                    <tr>
                        <td><%= waste.category %></td>
                        <td><%= waste.name %></td>
                        <td><%= waste.notes %></td>
                        <td><%= waste.anomaly %></td>
                        <td><%= waste.true_category %></td>
                    </tr>
                <% end %>
            <% end %>
          </tbody>
        </table>
    </div>
    <div id="c3" class="col s12">
        <table id = "compost" class="display">
          <thead>
            <tr>
                <th>Category</th>
                <th>Weight</th>
                <th>Notes</th>
                <th>Anomaly</th>
                <th>True Category</th>
            </tr>
          </thead>

          <tbody>
            <% @areas.each do |area| %>
                <% area.waste_infos.waste_category('compost').each do |waste| %>
                    <tr>
                        <td><%= waste.category %></td>
                        <td><%= waste.name %></td>
                        <td><%= waste.notes %></td>
                        <td><%= waste.anomaly %></td>
                        <td><%= waste.true_category %></td>
                    </tr>
                <% end %>
            <% end %>
          </tbody>
        </table>
    </div>
    <div id="c4" class="col s12">
        <table id = "reuse" class="display">
          <thead>
            <tr>
                <th>Category</th>
                <th>Weight</th>
                <th>Notes</th>
                <th>Anomaly</th>
                <th>True Category</th>
            </tr>
          </thead>

          <tbody>
            <% @areas.each do |area| %>
                <% area.waste_infos.waste_category('reuse').each do |waste| %>
                    <tr>
                        <td><%= waste.category %></td>
                        <td><%= waste.name %></td>
                        <td><%= waste.notes %></td>
                        <td><%= waste.anomaly %></td>
                        <td><%= waste.true_category %></td>
                    </tr>
                <% end %>
            <% end %>
          </tbody>
        </table>
    </div>
    <div id="c5" class="col s12">
        <table id= "food_recovery" class="display">
          <thead>
            <tr>
                <th>Category</th>
                <th>Weight</th>
                <th>Notes</th>
                <th>Anomaly</th>
                <th>True Category</th>
            </tr>
          </thead>

          <tbody>
            <% @areas.each do |area| %>
                <% area.waste_infos.waste_category('food_recovery').each do |waste| %>
                    <tr>
                        <td><%= waste.category %></td>
                        <td><%= waste.name %></td>
                        <td><%= waste.notes %></td>
                        <td><%= waste.anomaly %></td>
                        <td><%= waste.true_category %></td>
                    </tr>
                <% end %>
            <% end %>
          </tbody>
        </table>
    </div>

    <br>
</div>


