<div class="row">
    <div class="col s12">
        <ul class="tabs">
            <li class="tab col s2"><a href="#c1" class="teal-text text-darken-2">Landfill</a></li>
            <li class="tab col s2"><a href="#c2" class="teal-text text-darken-2">Recycle</a></li>
            <li class="tab col s2"><a href="#c3" class="teal-text text-darken-2">Compost</a></li>
            <li class="tab col s2"><a href="#c4" class="teal-text text-darken-2">Reuse</a></li>
            <li class="tab col s3"><a href="#c5" class="teal-text text-darken-2">Food Recovery</a></li>
            <li class="tab col s1"><a href="#c6" class="teal-text text-darken-2">All</a></li>
        </ul>
    </div>
</div>

<div class="row valign-wrapper">
    <div class="col s12 valign">
        <div class="card white">
            <div class="card-content">
                <div id="c1">
                    <%= render partial: "partials/waste_info_table", locals: {category: @landfill} %>
                </div>
                <div id="c2">
                    <%= render partial: "partials/waste_info_table", locals: {category: @recycling} %>
                </div>
                <div id="c3">
                    <%= render partial: "partials/waste_info_table", locals: {category: @compost} %>
                </div>
                <div id="c4">
                    <%= render partial: "partials/waste_info_table", locals: {category: @reuse} %>
                </div>
                <div id="c5">
                    <%= render partial: "partials/waste_info_table", locals: {category: @food_recovery} %>
                </div>
                <div id="c6">
                    <%= render partial: "partials/waste_info_table", locals: {category: @all} %>
                </div>
            </div>
        </div>
    </div>
</div>


<%= link_to 'Back', audit_path(@audit.id), class: :"btn waves-effect waves-light red lighten-4 left"%>
