<!DOCTYPE html>
<html>
	<head>
	    <title>PRC ZWPA</title>



	<%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= stylesheet_link_tag "https://fonts.googleapis.com/icon?family=Material+Icons" %>
    <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Bitter|Josefin+Sans|Nunito|Varela+Round" %>
<%= stylesheet_link_tag "https://fonts.googleapis.com/icon?family=Material+Icons" %>


    <script>

    	$(document).ready(function() {
    $('select').material_select();
    
})
    </script>
  	</head>
	<body>

		<header>
		<%= render partial: 'partials/nav' %>

	</header>
		<main>
		

		<% flash.each do |name, msg| %>
          <%= content_tag :div, msg, id: "flash_#{name}" %>
        <% end %>

        <div class="container">

    	<%= yield %>

    	</div>
</main>


    	<%= render partial: 'partials/footer' %>

	</body>

		




		<!-- scripts -->
		<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<!-- 	  	<script type="text/javascript" src="app/assests/javascripts/materialize.min.js"></script>
 -->	</body>

</html>
