<!DOCTYPE html>
<html>
<<<<<<< HEAD
<head>
  <title>ZWPA</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<<<<<<< HEAD
</body>
=======

	<%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= stylesheet_link_tag "https://fonts.googleapis.com/icon?family=Material+Icons" %>
    <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Bitter|Josefin+Sans|Nunito|Varela+Round" %>
	<%= stylesheet_link_tag "https://fonts.googleapis.com/icon?family=Material+Icons" %>



=======
	<head>
	    <title>PRC ZWPA</title>
	        <%= stylesheet_link_tag 'application', media: 'all' %>
            <%= javascript_include_tag 'application' %>
            <%= stylesheet_link_tag "https://fonts.googleapis.com/icon?family=Material+Icons" %>
            <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Bitter|Josefin+Sans|Nunito|Varela+Round" %>
	        <%= stylesheet_link_tag "https://fonts.googleapis.com/icon?family=Material+Icons" %>
>>>>>>> dd428eab3c0c178ab90d079b296321824cd373b6
  	</head>

	<body>
		<header>
		    <%= render partial: 'partials/nav' %>
	    </header>
		
        <main>
		    <% flash.each do |name, msg| %>
                <%= content_tag :div, msg, id: "flash_#{name}" %>
            <% end %>

            <div class="container">
    	        <%= yield %>
    	    </div>
        </main>

    	<%= render partial: 'partials/footer' %>
	</body>
>>>>>>> dev
</html>
