<!DOCTYPE html>
<html>
	<head>
	    <title>PRC ZWPA</title>
	    <%= csrf_meta_tags %>
	    <%= stylesheet_link_tag 'application', media: 'all' %>
	    <%= javascript_include_tag 'application' %>
	    <%= stylesheet_link_tag "https://fonts.googleapis.com/icon?family=Material+Icons" %>
	    <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Bitter|Josefin+Sans|Nunito|Varela+Round" %>
	    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  	</head>
	<body>
		<%= render partial: 'partials/nav' %>

		<% flash.each do |name, msg| %>
          <%= content_tag :div, msg, id: "flash_#{name}" %>
        <% end %>

        <div class="container">

    	<td><%= yield %></td>

    	</div>

    	<%= render partial: 'partials/footer' %>
	</body>
</html>
