<nav class="topbar" role="navigation">
    <div class="nav-wrapper container"> 
        <ul class="left hide-on-med-and-down">
            <li>
                <a id="logo-container" href="#" class="brand-logo">
                    <%= link_to(image_tag('logo 2.png'), audits_url) %>
                </a>
            </li>
        </ul>
        
        <ul class="right hide-on-med-and-down">
            <li><%= link_to 'Manage Audits', audits_url %></li>
            <li><%= link_to 'Manage Users', users_path %></li>
            <li><%= link_to 'Manage Clients', clients_path %></li>
            <li><a href="#">Log out</a></li>
        </ul>


        <!-- Mobile Sidebar code, rows are not showing up
        
        <ul class="left hide-on-med-and-down">
            <li><a a class="dropdown-button" data-beloworigin="true" data-hover="true" data-constrainwidth="false" href="#!" data-activates="mobile-demo"><%= material_icon.menu %></a></li>
            
        </ul>

        <ul id="mobile-demo" class="side-nav">
            <ul class="collapsible collapsible-accordion">
                
            <ul>
        </ul>


        <a href="#" data-activates="slide-out" class="button-collapse hide-on-large-only"><%= link_to material_icon.menu, audits_path, :style => "color:#ff9800;" %></a>
        -->
    </div>

</nav>
