<%= simple_form_for(@waste_info) do |f| %>
    <div class = "row">
        <%= f.input :category, as: :hidden, input_html: { value: category} %>
        <%= render :partial => "partials/error", locals: {f: f} %><br>

        <%= f.input :weight, wrapper_html: { class: 'col s6' } %>
        <%= f.input :true_category, collection: WasteInfo::CATEGORIES, as: :select, wrapper_html: { class: 'col s6' } %>

        <div id= <%= id %>>
            <%= f.input :material_type_id, collection: MaterialType.active.alphabetical.to_a, wrapper_html: { class: 'col s5' } %>
        </div>

        <%= link_to material_icon.add, new_material_type_path, class: "vertical-align-middle inline-block input col s1 new-material-type-btn", :style => "color: green; padding-top: 32px;", remote: true %>
        <%= f.input :anomaly, collection: [true, false], as: :select, wrapper_html: { class: 'col s6' } %>
        <%= f.input :notes, as: :text, wrapper_html: { class: 'col s12' } %>
    </div>

    <div class="row">
        <%= f.button :button, "Add Waste Information", type: 'submit', name: "area", value: params[:area], class: "btn waves-effect waves-light right"%>   
    </div>
<% end %>