<p id="notice"><%= notice %></p>

<p>
  <strong>Square footage:</strong>
  <%= @questionnaire.square_footage %>
</p>

<p>
  <strong>Max occupancy:</strong>
  <%= @questionnaire.max_occupancy %>
</p>

<p>
  <strong>Num floors:</strong>
  <%= @questionnaire.num_floors %>
</p>

<p>
  <strong>Management structure:</strong>
  <%= @questionnaire.management_structure %>
</p>

<p>
  <strong>Waste disposal system:</strong>
  <%= @questionnaire.waste_disposal_system %>
</p>

<p>
  <strong>Solid waste system:</strong>
  <%= @questionnaire.solid_waste_system %>
</p>

<p>
  <strong>Waste management costs:</strong>
  <%= @questionnaire.waste_management_costs %>
</p>

<p>
  <strong>Loading dock:</strong>
  <%= @questionnaire.loading_dock %>
</p>

<p>
  <strong>Freight elevators:</strong>
  <%= @questionnaire.freight_elevators %>
</p>

<p>
  <strong>Location info:</strong>
  <%= @questionnaire.location_info %>
</p>

<p>
  <strong>Trash hauler:</strong>
  <%= @questionnaire.trash_hauler %>
</p>

<p>
  <strong>Trash hauler contract:</strong>
  <%= @questionnaire.trash_hauler_contract %>
</p>

<p>
  <strong>Trash hauler copy:</strong>
  <%= @questionnaire.trash_hauler_copy %>
</p>

<p>
  <strong>Record of waste vol:</strong>
  <%= @questionnaire.record_of_waste_vol %>
</p>

<p>
  <strong>Solid waste storage:</strong>
  <%= @questionnaire.solid_waste_storage %>
</p>

<p>
  <strong>Solid waste containers:</strong>
  <%= @questionnaire.solid_waste_containers %>
</p>

<p>
  <strong>Solid waste info:</strong>
  <%= @questionnaire.solid_waste_info %>
</p>

<p>
  <strong>Recycling mandated:</strong>
  <%= @questionnaire.recycling_mandated %>
</p>

<p>
  <strong>Recycling program:</strong>
  <%= @questionnaire.recycling_program %>
</p>

<p>
  <strong>Recycling program stream:</strong>
  <%= @questionnaire.recycling_program_stream %>
</p>

<p>
  <strong>Recycling program info:</strong>
  <%= @questionnaire.recycling_program_info %>
</p>

<p>
  <strong>Buy recycling policy:</strong>
  <%= @questionnaire.buy_recycling_policy %>
</p>

<p>
  <strong>Buy recycling policy info:</strong>
  <%= @questionnaire.buy_recycling_policy_info %>
</p>

<p>
  <strong>Discontinued recycling info:</strong>
  <%= @questionnaire.discontinued_recycling_info %>
</p>

<p>
  <strong>Compost waste current:</strong>
  <%= @questionnaire.compost_waste_current %>
</p>

<p>
  <strong>Compost waste past:</strong>
  <%= @questionnaire.compost_waste_past %>
</p>

<p>
  <strong>Compost program info:</strong>
  <%= @questionnaire.compost_program_info %>
</p>

<p>
  <strong>Toner:</strong>
  <%= @questionnaire.toner %>
</p>

<p>
  <strong>Cfls:</strong>
  <%= @questionnaire.cfls %>
</p>

<p>
  <strong>Batteries:</strong>
  <%= @questionnaire.batteries %>
</p>

<p>
  <strong>Peripherals:</strong>
  <%= @questionnaire.peripherals %>
</p>

<p>
  <strong>Cell phones:</strong>
  <%= @questionnaire.cell_phones %>
</p>

<p>
  <strong>Tvs:</strong>
  <%= @questionnaire.tvs %>
</p>

<p>
  <strong>Corded equipment:</strong>
  <%= @questionnaire.corded_equipment %>
</p>

<p>
  <strong>Furniture:</strong>
  <%= @questionnaire.furniture %>
</p>

<p>
  <strong>Linens:</strong>
  <%= @questionnaire.linens %>
</p>

<p>
  <strong>Construction debris:</strong>
  <%= @questionnaire.construction_debris %>
</p>

<p>
  <strong>Pallets:</strong>
  <%= @questionnaire.pallets %>
</p>

<p>
  <strong>Zero waste policy:</strong>
  <%= @questionnaire.zero_waste_policy %>
</p>

<p>
  <strong>Leed certified:</strong>
  <%= @questionnaire.leed_certified %>
</p>

<p>
  <strong>Recertify leed:</strong>
  <%= @questionnaire.recertify_leed %>
</p>

<p>
  <strong>True zero waste audit:</strong>
  <%= @questionnaire.true_zero_waste_audit %>
</p>

<p>
  <strong>Prc waste audit:</strong>
  <%= @questionnaire.prc_waste_audit %>
</p>

<%= link_to 'Edit', edit_questionnaire_path(@questionnaire) %> |
<%= link_to 'Back', questionnaires_path %>
