<div class="container">
    <div class="left-align">
        <div class="row">
            <%= simple_form_for @client do |f| %>
                <br>

                <%= render :partial => "partials/error", locals: {f: f} %>
                <br>

                <%= f.input :name, wrapper_html: { class: 'col s12'} %>
                <%= f.input :contact_title, wrapper_html: { class: 'col s12' } %>
                <%= f.input :contact_first_name, wrapper_html: { class: 'col s6' } %>
                <%= f.input :contact_last_name, wrapper_html: { class: 'col s6' } %>
                <%= f.input :contact_email, wrapper_html: { class: 'col s6' } %>
                <%= f.input :contact_phone, wrapper_html: { class: 'col s6' } %>

                <%= f.input :street_1, wrapper_html: { class: 'col s6'} %>
                <%= f.input :street_2, wrapper_html: { class: 'col s6' } %> 
                <%= f.input :city, wrapper_html: { class: 'col s4' } %>
                <%= f.input :state, wrapper_html: { class: 'col s4' } %>
                <%= f.input :zip, wrapper_html: {class: 'col s4'} %> 
                      
                <div class="row">  
                    <div class="btn waves-effect waves-light col s3 right"> 
                        <%= f.submit "Submit" %>
                    </div>
                    
                    <div class="col s1 right"></div>
                
                    <%= link_to 'Back', clients_path, class: 'btn waves-effect waves-light col s3 right' %>
                    </div>
                </div>
            <% end %>  
        </div>
    </div>
</div>




