<h5>Listing clients</h3>

<table id = "clientlist" class="display">
  <thead>
    <tr>
      <th>Name</th>
      <th>Contact Phone</th>
      <th>Contact Name</th>
      <th>Contact Email</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @clients.each do |client| %>
      <tr>
        <td><%= client.name %></td>
        <td><%= client.contact_phone %></td>
        <td><%= client.contact_first_name %></td>
        <td><%= client.contact_email %></td>
        <td><%= link_to 'Show', client, class: :"btn-flat small waves-effect waves-light teal lighten-4" %></td>
        <td><%= link_to 'Edit', edit_client_path(client), class: :"btn-flat  waves-effect waves-light teal lighten-4" %></td>
        
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Client', new_client_path, class: :"btn-flat  waves-effect waves-light teal lighten-4" %>





