<h5>Active Clients</h3>

<table id = "clientlist" class="display">
  <thead>
    <tr>
      <th>Client</th>
      <th>Contact Name</th>
      <th>Contact Phone</th>
      <th>Contact Email</th>
      <th>Address</th>
      <th>Edit</th>
      <th>Archive</th>
    </tr>
  </thead>

  <tbody>
    <% @clients.active.each do |client| %>
      <tr>
        <td><%= client.name %></td>
        <td><%= client.proper_name_title %></td>
        <td><%= client.contact_phone %></td>
        <td><%= client.contact_email %></td>
        <td><%= client.proper_address %></td>
        <td><%= link_to material_icon.edit, edit_client_path(client), :style => "color:#ff9800;" %></td>
        <td><%= link_to material_icon.archive, archive_client_path(client), :style => "color:#ef5350;" %></td>
        
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<br>
<br>


<h5>Archived Clients</h5>

<table id = "archiveclintlist" class="display">
  <thead>
    <tr>
      <th>Client</th>
      <th>Contact Name</th>
      <th>Contact Phone</th>
      <th>Contact Email</th>
      <th>Address</th>
      <th>Edit</th>
      <th>Reactivate</th>
    </tr>
  </thead>  

  <tbody>
    <% @clients.inactive.each do |client| %>
      <tr>
        <td><%= client.name %></td>
        <td><%= client.proper_name_title %></td>
        <td><%= client.contact_phone %></td>
        <td><%= client.contact_email %></td>
        <td><%= client.proper_address %></td>
        <td><%= link_to material_icon.edit, edit_client_path(client), :style => "color:#ff9800;" %></td>
        <td><%= link_to material_icon.unarchive, reactivate_client_path(client), :style => "color:#ACD1CF;" %></td>
        
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'New Client', new_client_path, class: :"btn waves-effect waves-light" %>
<br>


